<div class="ui vertical menu fluid">
    <div class="header item">
        Navigation
    </div>
    <a href="#" class="item">
        Home
    </a>
    <a href="#about" class="item">
        About
    </a>
    <a href="#contact" class="item">
        Contact
    </a>
</div>